*{
	margin: 0;
}

header{
	text-align: center;
	font-size: 200%;
	padding: 10px;
	background-color: white;
}

#map{
	margin: 10px;
	background-color: green;
}

#pop-up{
	background-color: red;
	margin: 10px;
}

footer{
	text-align: center;
	padding: 10px;
	background-color: black;
	color: white;
}

#cookies{
	position: absolute;
	top: 0pt;
	left: 5pt;
	padding: 0pt;
	background: none;
	text-transform: 20pt;
}

#But_Attaque_1, #But_Attaque_2, #But_Attaque_3, #But_Attaque_4{
	display: none;
}

#But_Objet_1, #But_Objet_2, #But_Objet_3, #But_Objet_4{
	display: none;
}

#But_IST_1, #But_IST_2, #But_IST_3, #But_IST_4, #But_Retour{
	display: none;
}

#But_En_Apprendre_Plus, #But_Rassurer, #But_Infos, #But_Autres{
	display: none;
}

#Logo_IST{
    width: 50px;
    height: 50px;
    opacity: 0.5;
}

#Transition{
    width: 200px;
    height: 200px;
}

#IMG_XX{
    width: 120px;
    height: 120px;
    left: 100px;
    top: 100px;
}

#IMG_XY{
    width: 120px;
    height: 120px;
    left: 300px;
    top: 100px;
}

#Select_XX{
    width: 120px;
    height: 120px;
    left: 100px;
    top: 100px;
}

#Select_XY{
    width: 120px;
    height: 120px;
    left: 300px;
    top: 100px;
}

/* calque entre la page et le pop-up */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.6); /* Black w/ opacity */
}

/* fenêtre pop-up */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 2px solid #f00;
  width: 60%;
  max-width: 400pt;
  text-align: center;
}

/* bouton pour fermer */
#close {
  color: #000;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

#close:hover,
#close:focus {
  color: #f00;
  text-decoration: none;
  cursor: pointer;
}

.Paragraphe{
	text-align: center;
	font-size: 20px;
}

.Titre_partie{
	color: rgb(166, 54, 54);
	font-size: 40px;
	font-weight: bold;
	text-align: center;
}

#Select_Screen{
	position: relative;
	width: 50%;
	left : 25%;
}

.Lien_mail{
	color:rgb(166, 54, 54);
}

nav {
	text-align: center;
}

.menu_aide {
	display: inline-block;
}
  
.menu_aide > li {
	float: left;
	color: #e298e1;
	width: 140px;
	height: 40px;
	line-height: 40px;
	background: rgba(0, 0, 0, 0.7);
	cursor: pointer;
	font-size: 17px;
}
  
.sub-menu_aide {
	transform: scale(0);
	transform-origin: top center;
	transition: all 300ms ease-in-out;
}
  
.sub-menu_aide > li {
	font-size: 14px;
	background: rgba(0, 0, 0, 0.8);
	padding: 8px 0;
	color: white;
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
	transform: scale(0);
	transform-origin: top center;
	transition: all 300ms ease-in-out;
}

.sub-menu_aide > li:last-child {
	border-bottom: 0;
}

.sub-menu_aide > li:hover {
	background: black;
}

.menu_aide > li:hover .sub-menu_aide li {
	transform: scale(1);
}

.menu_aide > li:hover .sub-menu_aide {
	transform: scale(1);
}